name: pytest

on:
  push:
    paths:
      - "**.py"

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13", "3.14"]

    services:
      redis:
        # https://docs.github.com/en/actions/tutorials/use-containerized-services/create-redis-service-containers#running-jobs-directly-on-the-runner-machine
        image: redis
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        # https://github.com/actions/checkout
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        # https://github.com/actions/setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip
        # https://github.com/actions/cache
        uses: actions/cache@v4
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          pip install -U -r requirements.d/test.txt
      - name: Test with pytest
        env:
          # The hostname used to communicate with the Redis service container
          REDIS_HOST: localhost
          # The default Redis port
          REDIS_PORT: 6379
        run: |
          pytest --cov-report=xml
      # - name: Upload coverage to Codecov
      #   # https://github.com/codecov/codecov-action
      #   uses: codecov/codecov-action@v5
      #   with:
      #     verbose: true # optional (default = false)
      #   env:
      #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
