name: pytest

on:
  push:
    paths:
      - "**.py"

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    services:
      redis:
        image: redis:7-alpine
        ports:
          - 6379/tcp
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        # https://github.com/actions/checkout
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        # https://github.com/actions/setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip
        # https://github.com/actions/cache
        uses: actions/cache@v4
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          pip install -U -r requirements.d/test.txt
      - name: Test with pytest
        env:
          REDIS_HOST: redis
          REDIS_PORT: ${{ job.services.redis.ports['6379'] }}
        run: |
          pytest --cov=asgi_middleware_static_file --cov-report=xml
      # - name: Upload coverage to Codecov
      #   # https://github.com/codecov/codecov-action
      #   uses: codecov/codecov-action@v5
      #   with:
      #     verbose: true # optional (default = false)
      #   env:
      #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
